.collection__entryHeader {
  display: flex;
  width: 100%;
  margin: 20px 0px;
  justify-content: space-between;
}

.collection__listWrapper {
  width: 100%;
  max-width: 1700px;
  padding: .5rem 2rem;
  margin-top: .8rem;
  border: 1px solid  rgba(0, 0, 0, 0.1);;
  border-radius: 10px;
  box-shadow: 3px 4px 5px #05293D;

}

.collection__listHeaders {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 1fr 1fr 1fr 3fr .5fr .5fr;
  margin: 15px 0px;
  align-items: center;
  padding: 5px 0px;
  border-bottom: 2px solid #063852;
}

.collection__list {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 1fr 1fr 1fr 3fr .5fr .5fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px 0px;
  align-items: center;
  padding: 5px 0px;
}

.collection__imageLink {
  margin: 0;
  color: #333333;
}

.collection__actionIcons {
  cursor: pointer;
  color: #063852;
  justify-self: end;
}

.formButtons {
  background: #063852;
  display: inline-block;
  padding: 7px 18px;
  color: #F8F8F9;
  margin-left: 10px;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: 500;
}

/* .react-confirm-alert-button-group > button {
  background: #063852;
  color: #F8F8F9;
  font-weight: 500;
} */