.collection__entryHeader {
  display: flex;
  width: 80vw;
  margin: 20px;
  justify-content: space-around;
}

/* .collection__entries {
  display: flex;
  flex-direction: row;
} */

.collection__titles {
  display: grid;
  width: 80vw;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr 1fr 1fr;
}

/* .collection__entries {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} */

.collection__imageLink {
  color: black;
}

.collection__actionIcons {
  cursor: pointer;
}