.dashboard__appWrapper {
  display: flex;
  /* background-color: #F0F0F0; */
  /* background-color: #EEEEEE; */
  height: 100%;
}

.container {
  width: -webkit-fill-available;
  overflow-y: scroll;
}

.dashboard__grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.dashboard__title {
  width: 100%;
  margin: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 41.5827px;
  line-height: 49px;
  color: #063852;
}

.dashboard__container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}
