.dashboard__appWrapper {
  display: flex;
  height: 100%;
}

.container {
  width: -webkit-fill-available;
  overflow-y: scroll;
}

.dashboard__panel__title {
  margin: 1rem 0;
  margin-left: 1rem;
  font-weight: 500;
}

.dashboard__grid {
  display: grid;
  width: 100%;
  min-height: 400px;
  max-height: 450px;
  margin-top: 1rem;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 3px 4px 5px #05293d;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, 16rem);
  overflow: auto;
  background-color: #f8f8f9;
}

.collection__card {
  width: 10rem;
  height: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 3px 4px 5px #05293d;
  padding: 0.8rem;
  cursor: default;
  transition: all 0.1s ease-in;
  background-color: white;
}

.card__link {
  color: #333333;
}

.collection__card:hover {
  transform: scale(1.04);
}

.card__title {
  font-size: 18px;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: #05293d;
}

.card__document {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.4rem;
}

.card__user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.document__icon {
  width: 2rem !important;
  height: 2rem !important;
  margin-right: 0.4rem;
}

.user__icon {
  width: 2rem !important;
  height: 2rem !important;
  margin-right: 0.4rem;
}

.dashboard__title {
  width: 90%;
  margin: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 41.5827px;
  line-height: 49px;
  color: #063852;
}

.dashboard__container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}
