@keyframes forms-fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.editEntry__formOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: forms-fade-in 0.5s 0.2s forwards; 
}

.editEntry__formContainer {
    width: 500px;
    padding: 30px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
}

form {
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px 10px;
}

.editEntry__checkbox {
    cursor: pointer;
}

textarea {
    padding: 5px 10px;
    min-height: 80px;
    font-family: sans-serif; 
}

.editEntry__buttonContainer{
    align-self: flex-end;
}
