.header {
  display: flex;
  width: 80vw;
  justify-content: flex-end;
  align-items: right;
  margin: 1rem;
  max-height: 80px;
  background-color: lightblue;
}
.header__avatar {
  width: 50px;
  margin: 1rem;
}

.header__userInfo {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header__userInfo:hover {
  cursor: pointer;
}
