
.header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 3rem 1rem 1rem;
  max-height: 100px;
}
.header__avatar {
  width: 100px;
  margin: 1rem;
}

.header__userInfo {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header__userName {
  font-size: 18px;
}

.header__userInfo:hover {
  cursor: pointer;
}

.header__logout {
  opacity: 0.6;
}
