@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navbar {
  background: linear-gradient(
    153.92deg,
    #263774 0.7%,
    rgba(38, 55, 116, 0.69) 55.09%
  );
  height: 100vh;
  width: 20vw;
  min-width: 300px;
  max-width: 350px;
}

nav {
  width: 100%;
  margin: 2rem auto;
}

.navbar__header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation__items {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.navigation__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: white;
}

.navigation__sublink {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  margin: 2rem;
}

.navbar__line {
  height: 20px;
  width: 100%;
  border-bottom: 1px solid rgba(240, 240, 240, 0.7);
}

.navigation__dropdown {
  background-color: green;
  background: rgba(41, 58, 119, 0.49);

  padding: 20px;
}
