button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navbar__navWrapper {
  background-image: url("../../images/nav-background.jpg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 20vw;
  overflow: hidden;
  min-width: 300px;
  max-width: 350px;
}

.navbar {
  background-color: rgba(6, 56, 82, 0.95);
  height: 100%;
  overflow: hidden;
}

nav {
  width: 100%;
  margin: 2rem auto;
}

.navbar__header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar__logo {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.navbar__logoLink {
  width: 60%;
  margin: auto;
}

.navigation__items {
  width: 60%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

.navigation__items > * {
  margin: 10px;
}

.navigation__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #f8f8f9;
  margin-bottom: 20px;
}

.navigation__link:hover {
  cursor: pointer;
}

.navigation__adminSublink {
  font-size: 16px;
  margin-left: 2rem;
}

.navigation__sublink {
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
  margin: 2rem;
}

.navbar__line {
  height: 20px;
  width: 100%;
  border-bottom: 3px solid #fbb34c;
  box-shadow: 4px 4px 5px #05293d;
}

.navigation__dropdown {
  cursor: default;
}

.navigation__dropdown > * {
  margin-bottom: 20px;
}
