.users__comp {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1.53px 3.52859px rgba(0, 0, 0, 0.45);
  max-width: 70vw;
  margin: 0 auto;
  padding-bottom: 20px;
  /* padding: 50px; */
}

.users__header {
  width: 100%;
  height: 50px;
  background: rgba(38, 55, 116, 0.1);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.users__header > h4 {
  font-weight: 400;
  font-size: 16px;

  color: #263774;
}

.users__user > p {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 16px;
  color: #727272;
}

.user__data {
  display: grid;
  width: 60vw;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 12px;
  padding: 1rem;
  font-size: 14px;
  line-height: 16px;
  color: #727272;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

.user__data:hover {
  background: rgba(38, 55, 116, 0.1);
  cursor: pointer;
}

.editmode__container {
  background: rgba(38, 55, 116, 0.1);
  height: 15vh;
  width: 60vw;
  padding: 20px;
  margin: 0 auto;
}
.users__editMode {
  display: flex;
  justify-content: space-around;
}

.users__editModeTitle {
  font-weight: 400;
  font-size: 16px;
  color: #263774;
}

.uppercase {
  text-transform: capitalize;
}

.updateBtn {
  color: green;
}
